<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dingdong.mappers.adminMapper">

<select id="login" parameterType="AdminLoginDTO" resultType="Admin">
	SELECT id, password, nickname, email, access
	FROM admin
	WHERE id = #{id}
	AND password = #{password}
</select>

</mapper>